<div class="container-fluid jumbotron py-4 mb-4 py-5 bg-secondary rounded-0" style="margin-top:-40px;">
  <div class="container">
    <div class="row">
      <div class="col">
        <h5 class="text-white text-center">PNG</h5>
        <a href="{{ path '/images/stjude-logo-child.png' }}" download="stjudecloud-logo"
          class='d-flex flex-column align-items-center'>
          <img class="icon py-4" src="{{ path '/images/stjude-logo-child.png' }}" width="50%" alt="St. Jude Child Logo" />
          <h6 class="text-white text-center">Download Logo</h6>
        </a>
      </div>
      <div class="col">
        <h5 class="text-white text-center">PNG @2X</h5>
        <a href="{{ path '/images/stjude-logo-child@2x.png' }}" download="stjudecloud-logo"
          class='d-flex flex-column align-items-center'>
          <img class="icon py-4" src="{{ path '/images/stjude-logo-child@2x.png' }}" width="50%" alt="St. Jude Child Logo" />
          <h6 class="text-white text-center">Download Logo</h6>
        </a>
      </div>
      <div class="col">
        <h5 class="text-white text-center">SVG</h5>
        <a href="{{ path '/images/stjude-logo-child.svg' }}" download="stjudecloud-logo"
          class='d-flex flex-column align-items-center'>
          <img class="icon py-4" src="{{ path '/images/stjude-logo-child@2x.png' }}" width="50%" alt="St. Jude Child Logo" />
          <h6 class="text-white text-center">Download Logo</h6>
        </a>
      </div>
      <div class="col">
        <h5 class="text-white text-center">EPS</h5>
        <a href="{{ path '/images/stjude-logo-child.eps' }}" download="stjudecloud-logo"
          class='d-flex flex-column align-items-center'>
          <img class="icon py-4" src="{{ path '/images/stjude-logo-child@2x.png' }}" width="50%" alt="St. Jude Child Logo" />
          <h6 class="text-white text-center">Download Logo</h6>
        </a>
      </div>
    </div>
  </div>
</div>
