<div class="container-fluid jumbotron mb-4 bg-secondary rounded-0" style="margin-top:-40px;">
  <div class="container pt-4 pb-0">
    <div class="row">
      <div class="col-3">
        <a href="{{ path '/loaders/genomics-platform-loader.svg' }}">
          <h5 class="text-white text-center pb-2">Genomics Platform</h5>
          <img src="{{ path '/loaders/genomics-platform-loader.svg' }}" class="mx-auto" style="display: block;">
        </a>
      </div>
      <div class="col-3">
        <a href="{{ path '/loaders/model-systems-loader.svg' }}">
          <h5 class="text-white text-center pb-2">Model Systems</h5>
          <img src="{{ path '/loaders/model-systems-loader.svg' }}" class="mx-auto" style="display: block;">
        </a>
      </div>
      <div class="col-3">
        <a href="{{ path '/loaders/pecan-loader.svg' }}">
          <h5 class="text-white text-center pb-2">PeCan</h5>
          <img src="{{ path '/loaders/pecan-loader.svg' }}" class="mx-auto" style="display: block;">
        </a>
      </div>
      <div class="col-3">
        <a href="{{ path '/loaders/viz-loader.svg' }}">
          <h5 class="text-white text-center pb-2">Visualization Community</h5>
          <img src="{{ path '/loaders/viz-loader.svg' }}" class="mx-auto" style="display: block;">
        </a>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid jumbotron mb-4 rounded-0" style="margin-top:-40px;">
  <div class="container pt-4 pb-0">
    <div class="row">
      <div class="col-3">
        <a href="{{ path '/loaders/genomics-platform-loader.svg' }}">
          <h5 class="text-center pb-2">Genomics Platform</h5>
          <img src="{{ path '/loaders/genomics-platform-loader.svg' }}" class="mx-auto" style="display: block;">
        </a>
      </div>
      <div class="col-3">
        <a href="{{ path '/loaders/model-systems-loader.svg' }}">
          <h5 class="text-center pb-2">Model Systems</h5>
          <img src="{{ path '/loaders/model-systems-loader.svg' }}" class="mx-auto" style="display: block;">
        </a>
      </div>
      <div class="col-3">
        <a href="{{ path '/loaders/pecan-loader.svg' }}">
          <h5 class="text-center pb-2">PeCan</h5>
          <img src="{{ path '/loaders/pecan-loader.svg' }}" class="mx-auto" style="display: block;">
        </a>
      </div>
      <div class="col-3">
        <a href="{{ path '/loaders/viz-loader.svg' }}">
          <h5 class="text-center pb-2">Visualization Community</h5>
          <img src="{{ path '/loaders/viz-loader.svg' }}" class="mx-auto" style="display: block;">
        </a>
      </div>
    </div>
  </div>
</div>