<div class="container-fluid jumbotron py-4 mb-4 py-5 bg-white rounded-0" style="margin-top:-40px;">
  <div class="container">
    <div class="row">
      <div class="col">
        <h5 class="text-center">PNG</h5>
        <a href="{{ path '/assets/images/stjude-childrens-horizontal.png' }}" download="stjude-childrens-logo-horizontal"
          class='d-flex flex-column align-items-center'>
          <img class="icon my-5" src="{{ path '/assets/images/stjude-childrens-horizontal.png' }}" width="100%"
            alt="St. Jude Children's Logo Horizontal" />
          <h6 class="text-center">Download Logo</h6>
        </a>
      </div>
      <div class="col">
        <h5 class="text-center">PNG @2X</h5>
        <a href="{{ path '/assets/images/stjude-childrens-horizontal@2x.png' }}" download="stjude-childrens-logo-horizontal"
          class='d-flex flex-column align-items-center'>
          <img class="icon my-5" src="{{ path '/assets/images/stjude-childrens-horizontal@2x.png' }}" width="100%"
            alt="St. Jude Children's Logo Horizontal" />
          <h6 class="text-center">Download Logo</h6>
        </a>
      </div>
      <div class="col">
        <h5 class="text-center">SVG</h5>
        <a href="{{ path '/assets/images/stjude-childrens-horizontal.svg' }}" download="stjude-childrens-logo-horizontal"
          class='d-flex flex-column align-items-center'>
          <img class="icon my-5" src="{{ path '/assets/images/stjude-childrens-horizontal.svg' }}" width="100%"
            alt="St. Jude Children's Logo Horizontal" />
          <h6 class="text-center">Download Logo</h6>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid jumbotron py-4 mb-4 py-5 bg-secondary rounded-0" style="margin-top:-40px;">
  <div class="container">
    <div class="row">
      <div class="col">
        <h5 class="text-white text-center">PNG</h5>
        <a href="{{ path '/assets/images/stjude-childrens-horizontal-white.png' }}" download="stjude-childrens-logo-horizontal"
          class='d-flex flex-column align-items-center'>
          <img class="icon my-5" src="{{ path '/assets/images/stjude-childrens-horizontal-white.png' }}" width="100%"
            alt="St. Jude Children's Logo Horizontal - White" />
          <h6 class="text-white text-center">Download Logo</h6>
        </a>
      </div>
      <div class="col">
        <h5 class="text-white text-center">PNG @2X</h5>
        <a href="{{ path '/assets/images/stjude-childrens-horizontal-white@2x.png' }}" download="stjude-childrens-logo-horizontal"
          class='d-flex flex-column align-items-center'>
          <img class="icon my-5" src="{{ path '/assets/images/stjude-childrens-horizontal-white@2x.png' }}" width="100%"
            alt="St. Jude Children's Logo Horizontal - White" />
          <h6 class="text-white text-center">Download Logo</h6>
        </a>
      </div>
      <div class="col">
        <h5 class="text-white text-center">SVG</h5>
        <a href="{{ path '/assets/images/stjude-childrens-horizontal-white.svg' }}" download="stjude-childrens-logo-horizontal"
          class='d-flex flex-column align-items-center'>
          <img class="icon my-5" src="{{ path '/assets/images/stjude-childrens-horizontal-white.svg' }}" width="100%"
            alt="St. Jude Children's Logo Horizontal - White" />
          <h6 class="text-white text-center">Download Logo</h6>
        </a>
      </div>
    </div>
  </div>
</div>
