<div class="container-fluid jumbotron py-4 mb-4 py-5 bg-secondary rounded-0" style="margin-top:-40px;">
  <div class="container">
    <div class="row">
      <div class="col-9">
        <h1 class="text-white display-4">St. Jude Sans</h1>
        <code>font-family: 'St. Jude Sans', 'Helvetica Neue', Arial, sans-serif;</code>
      </div>
      <div class="col-3 d-flex align-items-center">
        <a href="{{ path '/assets/fonts/stjude-sans.zip' }}" class="btn btn-primary" download>
          Download All
        </a>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mb-4 py-5"  style="margin-top: -15px;">
  <div class="row border-bottom pb-5">
    <div class="container">
      <div class="row">
        <div class="col-9">
          <h2 style="font-weight: 300">St. Jude Sans Light</h2>
          <code>font-weight: 300;</code>
        </div>
        <div class="col-3">
          <a href="{{ path '/assets/fonts/stjude-sans/sjs-light.eot' }}" class="btn btn-outline-primary my-1" download>
            .eot
          </a>
          <a href="{{ path '/assets/fonts/stjude-sans/sjs-light.otf' }}" class="btn btn-outline-primary my-1" download>
            .otf
          </a>
          <a href="{{ path '/assets/fonts/stjude-sans/sjs-light.ttf' }}" class="btn btn-outline-primary my-1" download>
            .ttf
          </a>
          <a href="{{ path '/assets/fonts/stjude-sans/sjs-light.woff' }}" class="btn btn-outline-primary my-1" download>
            .woff
          </a>
          <a href="{{ path '/assets/fonts/stjude-sans/sjs-light.woff2' }}" class="btn btn-outline-primary my-1" download>
            .woff2
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="row border-bottom py-5 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-9">
          <h2 style="font-weight: 300; font-style: italic;">St. Jude Sans Light - Italic</h2>
          <code>font-weight: 300; font-style: italic;</code>
        </div>
        <div class="col-3">
          <a href="{{ path '/assets/fonts/stjude-sans/sjs-light-italic.eot' }}" class="btn btn-outline-primary my-1" download>
            .eot
          </a>
          <a href="{{ path '/assets/fonts/stjude-sans/sjs-light-italic.otf' }}" class="btn btn-outline-primary my-1" download>
            .otf
          </a>
          <a href="{{ path '/assets/fonts/stjude-sans/sjs-light-italic.ttf' }}" class="btn btn-outline-primary my-1" download>
            .ttf
          </a>
          <a href="{{ path '/assets/fonts/stjude-sans/sjs-light-italic.woff' }}" class="btn btn-outline-primary my-1" download>
            .woff
          </a>
          <a href="{{ path '/assets/fonts/stjude-sans/sjs-light-italic.woff2' }}" class="btn btn-outline-primary my-1" download>
            .woff2
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="row border-bottom py-5">
    <div class="container">
      <div class="row">
        <div class="col-9">
          <h2 style="font-weight: 400;">St. Jude Sans Regular</h2>
          <code>font-weight: 400;</code>
        </div>
        <div class="col-3">
          <a href="{{ path '/assets/fonts/stjude-sans/sjs-regular.eot' }}" class="btn btn-outline-primary my-1" download>
            .eot
          </a>
          <a href="{{ path '/assets/fonts/stjude-sans/sjs-regular.otf' }}" class="btn btn-outline-primary my-1" download>
            .otf
          </a>
          <a href="{{ path '/assets/fonts/stjude-sans/sjs-regular.ttf' }}" class="btn btn-outline-primary my-1" download>
            .ttf
          </a>
          <a href="{{ path '/assets/fonts/stjude-sans/sjs-regular.woff' }}" class="btn btn-outline-primary my-1" download>
            .woff
          </a>
          <a href="{{ path '/assets/fonts/stjude-sans/sjs-regular.woff2' }}" class="btn btn-outline-primary my-1" download>
            .woff2
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="row border-bottom py-5 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-9">
          <h2 style="font-weight: 400; font-style: italic;">St. Jude Sans Regular - Italic</h2>
          <code>font-weight: 400; font-style: italic;</code>
        </div>
        <div class="col-3">
          <a href="{{ path '/assets/fonts/stjude-sans/sjs-regular-italic.eot' }}" class="btn btn-outline-primary my-1" download>
            .eot
          </a>
          <a href="{{ path '/assets/fonts/stjude-sans/sjs-regular-italic.otf' }}" class="btn btn-outline-primary my-1" download>
            .otf
          </a>
          <a href="{{ path '/assets/fonts/stjude-sans/sjs-regular-italic.ttf' }}" class="btn btn-outline-primary my-1" download>
            .ttf
          </a>
          <a href="{{ path '/assets/fonts/stjude-sans/sjs-regular-italic.woff' }}" class="btn btn-outline-primary my-1" download>
            .woff
          </a>
          <a href="{{ path '/assets/fonts/stjude-sans/sjs-regular-italic.woff2' }}" class="btn btn-outline-primary my-1" download>
            .woff2
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="row border-bottom py-5">
    <div class="container">
      <div class="row">
        <div class="col-9">
          <h2 style="font-weight: 500;">St. Jude Sans Medium</h2>
          <code>font-weight: 500;</code>
        </div>
        <div class="col-3">
          <a href="{{ path '/assets/fonts/stjude-sans/sjs-medium.eot' }}" class="btn btn-outline-primary my-1" download>
            .eot
          </a>
          <a href="{{ path '/assets/fonts/stjude-sans/sjs-medium.otf' }}" class="btn btn-outline-primary my-1" download>
            .otf
          </a>
          <a href="{{ path '/assets/fonts/stjude-sans/sjs-medium.ttf' }}" class="btn btn-outline-primary my-1" download>
            .ttf
          </a>
          <a href="{{ path '/assets/fonts/stjude-sans/sjs-medium.woff' }}" class="btn btn-outline-primary my-1" download>
            .woff
          </a>
          <a href="{{ path '/assets/fonts/stjude-sans/sjs-medium.woff2' }}" class="btn btn-outline-primary my-1" download>
            .woff2
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="row border-bottom py-5 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-9">
          <h2 style="font-weight: 500; font-style: italic;">St. Jude Sans Medium - Italic</h2>
          <code>font-weight: 500; font-style: italic;</code>
        </div>
        <div class="col-3">
          <a href="{{ path '/assets/fonts/stjude-sans/sjs-medium-italic.eot' }}" class="btn btn-outline-primary my-1" download>
            .eot
          </a>
          <a href="{{ path '/assets/fonts/stjude-sans/sjs-medium-italic.otf' }}" class="btn btn-outline-primary my-1" download>
            .otf
          </a>
          <a href="{{ path '/assets/fonts/stjude-sans/sjs-medium-italic.ttf' }}" class="btn btn-outline-primary my-1" download>
            .ttf
          </a>
          <a href="{{ path '/assets/fonts/stjude-sans/sjs-medium-italic.woff' }}" class="btn btn-outline-primary my-1" download>
            .woff
          </a>
          <a href="{{ path '/assets/fonts/stjude-sans/sjs-medium-italic.woff2' }}" class="btn btn-outline-primary my-1" download>
            .woff2
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="row border-bottom py-5">
    <div class="container">
      <div class="row">
        <div class="col-9">
          <h2 style="font-weight: 700;">St. Jude Sans Bold</h2>
          <code>font-weight: 700;</code>
        </div>
        <div class="col-3">
          <a href="{{ path '/assets/fonts/stjude-sans/sjs-bold.eot' }}" class="btn btn-outline-primary my-1" download>
            .eot
          </a>
          <a href="{{ path '/assets/fonts/stjude-sans/sjs-bold.otf' }}" class="btn btn-outline-primary my-1" download>
            .otf
          </a>
          <a href="{{ path '/assets/fonts/stjude-sans/sjs-bold.ttf' }}" class="btn btn-outline-primary my-1" download>
            .ttf
          </a>
          <a href="{{ path '/assets/fonts/stjude-sans/sjs-bold.woff' }}" class="btn btn-outline-primary my-1" download>
            .woff
          </a>
          <a href="{{ path '/assets/fonts/stjude-sans/sjs-bold.woff2' }}" class="btn btn-outline-primary my-1" download>
            .woff2
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="row border-bottom py-5 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-9">
          <h2 style="font-weight: 700; font-style: italic;">St. Jude Sans Bold - Italic</h2>
          <code>font-weight: 700; font-style: italic;</code>
        </div>
        <div class="col-3">
          <a href="{{ path '/assets/fonts/stjude-sans/sjs-bold-italic.eot' }}" class="btn btn-outline-primary my-1" download>
            .eot
          </a>
          <a href="{{ path '/assets/fonts/stjude-sans/sjs-bold-italic.otf' }}" class="btn btn-outline-primary my-1" download>
            .otf
          </a>
          <a href="{{ path '/assets/fonts/stjude-sans/sjs-bold-italic.ttf' }}" class="btn btn-outline-primary my-1" download>
            .ttf
          </a>
          <a href="{{ path '/assets/fonts/stjude-sans/sjs-bold-italic.woff' }}" class="btn btn-outline-primary my-1" download>
            .woff
          </a>
          <a href="{{ path '/assets/fonts/stjude-sans/sjs-bold-italic.woff2' }}" class="btn btn-outline-primary my-1" download>
            .woff2
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
