<div class="container-fluid jumbotron py-4 mb-4 py-5 bg-white rounded-0" style="margin-top:-40px;">
  <div class="container">
    <div class="row">
      <div class="col">
        <h5 class="text-center">PNG</h5>
        <a href="{{ path '/images/stjude-childrens-vertical.png' }}" download="stjude-childrens-logo-vertical"
          class='d-flex flex-column align-items-center'>
          <img class="icon my-5" src="{{ path '/images/stjude-childrens-vertical.png' }}" width="100%"
            alt="St. Jude Children's Logo Vertical" />
          <h6 class="text-center">Download Logo</h6>
        </a>
      </div>
      <div class="col">
        <h5 class="text-center">PNG @2X</h5>
        <a href="{{ path '/images/stjude-childrens-vertical@2x.png' }}" download="stjude-childrens-logo-vertical"
          class='d-flex flex-column align-items-center'>
          <img class="icon my-5" src="{{ path '/images/stjude-childrens-vertical@2x.png' }}" width="100%"
            alt="St. Jude Children's Logo Vertical" />
          <h6 class="text-center">Download Logo</h6>
        </a>
      </div>
      <div class="col">
        <h5 class="text-center">SVG</h5>
        <a href="{{ path '/images/stjude-childrens-vertical.svg' }}" download="stjude-childrens-logo-vertical"
          class='d-flex flex-column align-items-center'>
          <img class="icon my-5" src="{{ path '/images/stjude-childrens-vertical.svg' }}" width="100%"
            alt="St. Jude Children's Logo Vertical" />
          <h6 class="text-center">Download Logo</h6>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid jumbotron py-4 mb-4 py-5 bg-secondary rounded-0" style="margin-top:-40px;">
  <div class="container">
    <div class="row">
      <div class="col">
        <h5 class="text-white text-center">PNG</h5>
        <a href="{{ path '/images/stjude-childrens-vertical-white.png' }}" download="stjude-childrens-logo-vertical"
          class='d-flex flex-column align-items-center'>
          <img class="icon my-5" src="{{ path '/images/stjude-childrens-vertical-white.png' }}" width="100%"
            alt="St. Jude Children's Logo Vertical" />
          <h6 class="text-white text-center">Download Logo</h6>
        </a>
      </div>
      <div class="col">
        <h5 class="text-white text-center">PNG @2X</h5>
        <a href="{{ path '/images/stjude-childrens-vertical-white@2x.png' }}" download="stjude-childrens-logo-vertical"
          class='d-flex flex-column align-items-center'>
          <img class="icon my-5" src="{{ path '/images/stjude-childrens-vertical-white@2x.png' }}" width="100%"
            alt="St. Jude Children's Logo Vertical" />
          <h6 class="text-white text-center">Download Logo</h6>
        </a>
      </div>
      <div class="col">
        <h5 class="text-white text-center">SVG</h5>
        <a href="{{ path '/images/stjude-childrens-vertical-white.svg' }}" download="stjude-childrens-logo-vertical"
          class='d-flex flex-column align-items-center'>
          <img class="icon my-5" src="{{ path '/images/stjude-childrens-vertical-white.svg' }}" width="100%"
            alt="St. Jude Children's Logo Vertical" />
          <h6 class="text-white text-center">Download Logo</h6>
        </a>
      </div>
    </div>
  </div>
</div>